@charset "UTF-8";

.popup-top-tit {
  font-size: 16px;
  padding: 10px 8px 8px;
  background: #323639;
  color: #fff;
}

.popup-wrap {
  margin: 20px 10px 5px 10px;
  background: #fff;
  position: relative;
  display: block;
  font-size: 13px;
  z-index: 1000;
  border-radius: 2px;
  min-width: 650px;
}

.popup-tit-wrap {
  height: 50px;
}

.ck-btn {
  width: 93px;
  padding: 6px 0;
  color: #fff;
  border-radius: 2px;
  background: #5e7ef0;
}

ul.tabs {
}

ul.tabs li {
  background: none;
  color: #222;
  padding: 10px 15px;
  cursor: pointer;
  width: 50%;
  float: left;
  height: 50px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

ul.tabs li.current {
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
  background: #fff;
  border: 1px solid #e1e1e1;
}

.tab-content.current {
  display: inherit;
}
.tab-link {
  font-size: 16px;
  text-align: center;
}

.tit-table {
  font-weight: bold;
  padding-left: 10px;
  width: 120px;
}
.con-table {
  min-width: 580px;
}

.popup-content-table {
  width: 100%;
  padding: 30px 20px;
}

.table-ck {
  margin: 0 10px 0 0;
  min-width: 80px;
  line-height: 25px;
  display: inline-block;
  margin-left: 12px;
}

.big_part_label {
  width: 100%;
  max-width: 160px;
}

.top-tit {
  vertical-align: top;
  padding: 10px 0 0 15px;
}

.reset-btn {
  padding: 0 10px;
  text-align: right;
}

.btn-wrap {
  text-align: center;
  margin-bottom: 10px;
}

.category_checkbox {
  position: relative;
  top: 1px;
}

.etc_part {
  margin: 0 10px 0 0;
  line-height: 25px;
  display: inline-block;
  width: 100%;
  max-width: 120px;
  margin-left: 12px;
}

.local-ck {
  margin: 0 10px 0 0;
  line-height: 25px;
  display: inline-block;
  width: 100%;
  max-width: 70px;
  margin-left: 12px;
}

/* 초기화 버튼 */
.basic-btn {
  font-size: 13px;
  font-family: '맑은 고딕', 'Malgun Gothic“ !important;';
  border: 1px solid #c5c5c5;
  padding: 4px 10px;
  border-radius: 2px;
}
